* {
  text-align: center;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

header {
  margin: 0 auto;
  color: #001015;
  padding: 0.1rem;
}

h1 {
  font-size: 2rem;
}

button {
  cursor: pointer;
  margin: 1rem;
  border: 0px;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  background: #001015;
  color: #FFF;
}

input {
  width: 3rem;
}

%center_flex {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#input1 {
  @extend %center_flex;
  padding: 1rem;
  flex-direction: row;
  grid-gap: 1rem;
  flex-wrap: nowrap;
}

#input2 {
  @extend %center_flex;
  flex-direction: row;
  grid-gap: 1rem;
  flex-wrap: nowrap;
}

.chart_container {
  position: relative;
  width: 90vw;
  margin: 0 auto;
}
